@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.postDetail {
  img {
    width: auto;
  }
  .postTitle {
    font-size: 36px;
    color: $dark-second;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $dark-second;

    @include respond(xs) {
      flex-flow: column;
      h1 {
        font-size: 24px;
        align-self: flex-start;
      }
    }

    .btnGroup {
      display: flex;
      align-items: center;
      gap: 4px;

      @include respond(xs) {
        margin: 20px auto;
        width: 100%;

        button {
          flex: 1;
        }
      }
    }
  }
  p {
    padding: 20px 0;
  }

  .commonBtn {
    background: $dark-primary;
    margin-top: 20px;
    padding: 10px;
    color: $primary;
    font-size: 0.8rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.darkPostDetail {
  .postTitle {
    color: $primary;
    border-color: $primary;
  }
}
