# 📂 Node.js 관련
node_modules/
package-lock.json

# 📂 환경 변수 및 인증 정보
.env
.env.local
.env.*.local
.firebase/

# 📂 빌드 결과물
.next/
out/
dist/

# 📂 Firebase 관련
firebase-debug.log
firebase.json
firestore-debug.log
firestore.indexes.json
firestore.rules
database.rules.json
storage.rules
remoteconfig.template.json

# 📂 VSCode 관련 설정
.vscode/

# 📂 OS 생성 파일
.DS_Store
Thumbs.db

# 📂 Git 관련
.git/
.gitignore

.vercel