@import "normalize.css";
@import "./common.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-h: 68px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  color: #1f2937;
  background: var(--background);
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  word-break: keep-all;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

header {
  height: var(--header-h);
}

#wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", "Pretendard", "Noto Sans KR", sans-serif;
}
