@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.themeToggleBtn {
  position: fixed;
  top: 116px;
  right: 20px;
  width: 32px;
  height: 32px;

  svg {
    width: 1.1rem;
    height: 1.1rem;
  }
  @include respond(sm) {
  }
}
