@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.howItWorks {
  text-align: center;
  padding: 100px 20px;
  transition: background 0.3s ease-in-out;
  background: $primary-gradient;
  color: $dark-primary;

  .title {
    font-size: 2.2rem;
    font-weight: bold;
    color: $dark-primary;
    margin-bottom: 50px;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
  }

  .step {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    transition: transform 0.3s ease-in-out;
    position: relative;

    @include respond(sm) {
      flex-flow: column;
    }

    &:hover {
      transform: scale(1.05);
      background: rgba(255, 255, 255, 0.3);
    }
  }
  .icon {
    font-size: 2rem;
    margin-right: 20px;
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);

    @include respond(sm) {
      position: initial;
      margin-right: 0;
      transform: none;
    }
  }

  .stepTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .stepDescription {
    font-size: 1rem;
    opacity: 0.8;
  }

  .content {
    width: 100%;
    text-align: center;
  }
}

.darkHowItWorks {
  background: $dark-gradient;
  color: #fff;
  .step {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .title {
    color: #fff;
  }
}
