@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.aside {
  height: 100%;
  background: #fff;
  border-right: 1px solid $primary-point;
  padding: 40px 20px;
  overflow: auto;

  @include respond(sm) {
    position: fixed;
    top: 68px;
    width: 100%;
    right: 0;
    z-index: 100;
    left: -100%;
    opacity: 0;
    transition: 0.2s;
  }

  &.active {
    left: 0;
    opacity: 1;
  }

  .folders {
    width: 100%;
    margin-bottom: 12px;
    .folder {
      border-bottom: 1px solid #aaa;
      button {
        width: 100%;
        text-align: left;
        padding: 10px 0;
        cursor: pointer;
        font-weight: 600;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        // &::after {
        //   content: "";
        //   position: absolute;
        //   bottom: 5px;
        //   left: 0;
        //   width: 100%;
        //   height: 1px;
        //   background-color: #999;
        // }
      }

      .posts {
        max-height: 200px;
        overflow: auto;
        .loader {
        }
        .postTitle {
          margin-bottom: 8px;

          h4 {
            font-size: 0.8rem;
          }
        }
        .noPostsMsg {
          font-size: 0.8rem;
          margin-bottom: 8px;
        }
      }
    }
  }
}
#toggleAsideBtn {
  position: absolute;
  top: 120px;
  right: 64px;
  z-index: 101;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  transition: 0.2s;
  opacity: 0.7;

  @include respond(sm) {
    display: block;
  }

  &.active {
    top: 124px;
    right: 40px;
  }
}
.darkAside {
  background: $dark-second;
  border-right: 1px solid $dark-point;
  button {
    color: $primary;
  }
  h4 a {
    color: $primary;
  }
}
