@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: $primary;
  box-shadow: 0 0 12px $primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 200;
  height: 68px;
  color: $dark-primary;
  width: 100%;
  .nav {
    flex: 1;
    display: flex;
    justify-content: center;
    transition: left 0.3s;

    @include respond(sm) {
      position: absolute;
      top: 68px;
      background: #fff;
      width: 100%;
      left: 100%;
      opacity: 0;
      transform: scaleX(0);
      transform-origin: right;
      overflow: hidden;
      transition: left 0.2s ease-out transform 0.2s ease-out,
        opacity 0.1s ease-out;
    }

    &.active {
      opacity: 1;
      left: 0;
      transform: scaleX(1);
    }

    ul {
      display: flex;
      gap: 65px;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;

      @include respond(sm) {
        flex-flow: column;
        width: 100%;
        align-items: center;
        gap: 0;
        justify-content: space-between;
      }

      li {
        list-style: none;
        height: 100%;
        width: fit-content;

        @include respond(sm) {
          margin: 0;
          width: 100%;
        }

        a {
          text-decoration: none;
          color: #333;
          font-weight: bold;
          transition: color 0.3s;
          font-size: 1.6rem;
          display: block;
          width: 100%;
          height: 100%;

          &:hover {
            color: $primary-point;
          }

          @include respond(sm) {
            display: block;
            width: 100%;
            text-align: center;
            padding: 20px 0;
          }
        }
      }
    }
  }
  .logo {
    display: flex;
    align-items: center;
    width: 200px;

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .profileImage {
        $profile-img-w: 32px;
        position: relative;
        width: $profile-img-w;
        height: $profile-img-w;
        border-radius: 50%;
        overflow: hidden;
      }
      h1 {
        font-size: 1rem;
        font-weight: bold;
        margin-left: 10px;
      }
    }
  }

  .loginBar {
    display: flex;
    align-items: center;

    .list {
      display: flex;
      gap: 10px;

      .item {
        list-style: none;

        a {
          text-decoration: none;
          color: #333;
          font-weight: bold;
          transition: color 0.3s;
          font-size: 0.8rem;

          &:hover {
            color: $primary-point;
          }
        }
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 16px;
    cursor: pointer;
    position: relative;
    z-index: 150;
    margin-left: 10px;

    @include respond(sm) {
      display: flex;
    }

    span {
      position: absolute;

      display: block;
      width: 100%;
      height: 3px;
      background: #333;
      border-radius: 5px;
      transition: transform 0.4s, opacity 0.4s, background 0.4s;
    }
    span:nth-child(1) {
      top: 0;
    }
    span:nth-child(2) {
      top: 50%;
    }
    span:nth-child(3) {
      top: 100%;
    }

    &.active {
      span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}

.darkHeader {
  background: #1f2937;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: $primary;

  .nav {
    @include respond(sm) {
      position: absolute;
      top: 68px;
      background: $dark-second;
      width: 100%;
      left: 100%;
      opacity: 0;
      transform: scaleX(0);
      transform-origin: right;
      overflow: hidden;
      transition: left 0.2s ease-out transform 0.2s ease-out,
        opacity 0.1s ease-out;
    }
  }

  .nav ul li a {
    color: $primary;

    &:hover {
      color: $dark-point;
    }
  }

  .loginBar .list .item a {
    color: $primary;

    &:hover {
      color: $dark-point;
    }
  }

  .hamburger span {
    background: $primary;
  }
}

#deemedWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 149;
  display: none;
}
#deemedWrapper.active {
  display: block;
}
